<p id="notice"><%= notice %></p>

<h1>Cupons</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Code</th>
      <th>Amount</th>
      <th>Discount</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cupons.each do |cupon| %>
      <tr>
        <td><%= cupon.type %></td>
        <td><%= cupon.code %></td>
        <td><%= cupon.amount %></td>
        <td><%= cupon.discount %></td>
        <td><%= cupon.user %></td>
        <td><%= link_to 'Show', cupon %></td>
        <td><%= link_to 'Edit', edit_cupon_path(cupon) %></td>
        <td><%= link_to 'Destroy', cupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cupon', new_cupon_path %>
